body {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
    margin: 0;

}

#container {
    display: flex;
    flex-flow: column-reverse;
    flex-wrap: wrap;
    width: 90%;
    height: 80%
}

.question {
    width: 150px;
    height: 150px;
    background-color: beige;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.wrong {
    background-color: red;
}

.right {
    background-color: green;
}

input {
    max-width: 100px;
}

button {
    max-width: 100px;
}